/* breakpoints */
/* Base styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #454545;
  font-size: 1.7rem;
  line-height: 1.6;
  font-weight: 400; }

/* Grid System */
.content {
  display: grid;
  grid-template-rows: 80vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.content > * {
  padding: 2rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1; }

.heading-1 {
  font-size: 8rem; }
  @media screen and (max-width: 25em) {
    .heading-1 {
      font-size: 6rem; } }

.heading-mb--small {
  margin-bottom: 1.3rem; }

/* color helpers */
.yellow {
  color: #ffc117; }

.light-grey {
  color: #dbdbdf; }

.heading-section {
  font-size: 15vw;
  margin-bottom: 8rem; }
  .heading-section .highlight {
    color: #dbdbdf; }

.header {
  position: relative;
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center; }
  .header__text {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    text-align: center; }
    .header__text .heading-1 {
      letter-spacing: -3px;
      margin-bottom: 2rem; }
      @media screen and (max-width: 75em) {
        .header__text .heading-1 {
          letter-spacing: normal; } }
    .header__text .heading-2 {
      font-weight: 300;
      letter-spacing: .2rem;
      font-size: 2.4rem; }
      @media screen and (max-width: 62.5em) {
        .header__text .heading-2 {
          letter-spacing: 1px; } }
  .header__logo {
    position: absolute;
    top: 3rem;
    left: 3rem; }

.menu__icon {
  position: absolute;
  top: 6rem;
  right: 3rem;
  width: 3rem;
  height: 30px;
  cursor: pointer; }
  .menu__icon::before, .menu__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: #fbfbfb;
    position: absolute;
    content: ''; }
  .menu__icon::before {
    top: -8px; }
  .menu__icon::after {
    top: 8px; }
  .menu__icon__middle {
    width: 2.5rem;
    height: 2px;
    background-color: #fbfbfb;
    display: block;
    position: relative;
    right: .5rem; }

.about__services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img//bg-2.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  grid-column: full-start / col-end 4;
  align-content: center;
  justify-content: center;
  padding: 4rem 5rem; }
  @media screen and (max-width: 43.75em) {
    .about__services {
      grid-column: 1 / -1; } }

.about__story {
  padding: 4rem 5rem;
  grid-column: col-start 5 / full-end;
  align-self: center; }
  @media screen and (max-width: 43.75em) {
    .about__story {
      grid-column: 1 / -1;
      grid-row: 3 / 4; } }
  .about__story p:first-child:first-letter {
    color: #ffc117;
    float: left;
    font-size: 5rem;
    font-weight: 700;
    line-height: 60px;
    padding-top: .5rem;
    padding-right: 5px; }
  .about__story .heading-4 {
    margin-top: 3rem; }

.service {
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: min-content minmax(min-content, max-content); }
  .service__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #ffc117;
    display: block;
    grid-row: 1 / span 2; }
  .service p {
    font-weight: 300; }
  .service:not(:last-child) {
    margin-bottom: 3rem; }

.team {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 10rem;
  align-items: center;
  hyphens: auto;
  justify-items: center;
  align-items: center;
  padding: 10rem 0; }
  .team__primary {
    grid-column: 2 / 8;
    grid-row: 1 / 2; }
  .team__secondary {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    grid-column-gap: 5rem;
    grid-row-gap: 7rem; }
    @media screen and (max-width: 50rem) {
      .team__secondary {
        justify-items: center; } }

.member {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  align-items: start;
  font-size: 1.5rem;
  line-height: 1.6;
  align-items: center; }
  @media screen and (max-width: 50rem) {
    .member {
      grid-column: 1 / -1; } }
  .member__name {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 2rem; }
  .member__function {
    display: block;
    color: #ffc117;
    font-weight: 700; }
  .member__img {
    position: relative;
    height: 30rem; }
    .member__img::before {
      content: '';
      display: block;
      position: absolute;
      top: -2rem;
      left: -2rem;
      border: 1rem solid #ffc117;
      height: 7.5rem;
      width: 7.5rem; }
    .member__img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
      position: relative;
      z-index: 2; }
  .member--main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    align-items: center;
    font-size: 1.5rem;
    grid-row-gap: 3rem; }
    .member--main .member__name {
      align-self: end; }
    .member--main .member__img {
      position: relative;
      max-height: 35rem; }
      @media screen and (max-width: 25em) {
        .member--main .member__img {
          height: 20rem;
          grid-column: 1 / -1;
          grid-row: 1 / 2; } }
      .member--main .member__img::before {
        content: '';
        display: block;
        position: absolute;
        top: -2rem;
        left: -2rem;
        border: 1rem solid #ffc117;
        height: 15rem;
        width: 15rem; }
      .member--main .member__img img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        display: block;
        position: relative;
        z-index: 2; }

.work {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center; }
  .work__item {
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center; }
    .work__item__img {
      width: 100%;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
    .work__item__description {
      display: flex;
      flex-direction: column; }
      .work__item__description .heading-3 {
        margin-bottom: 2rem; }

.clients {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-flow: row;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  background-color: #ffc117;
  justify-items: center;
  align-items: center;
  justify-content: center; }
  .clients__logo {
    grid-column: span 1;
    height: 3.5rem; }

.testimonials {
  grid-column: full-start / full-end;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5rem;
  padding: 10rem 5rem;
  overflow: hidden;
  justify-items: center; }
  .testimonials__quote {
    grid-column: 1 / -1;
    font-size: 4rem;
    color: #dbdbdf;
    font-weight: 300;
    text-align: center; }
    @media screen and (max-width: 25em) {
      .testimonials__quote {
        font-size: 2rem; } }
  .testimonials__clients {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5rem; }
  .testimonials__client {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #454545;
    cursor: pointer; }
    .testimonials__client h4 {
      font-weight: 700;
      font-size: 1.8rem; }
    .testimonials__client span {
      font-weight: 700; }
    .testimonials__client.selected {
      color: #ffc117; }

.footer {
  grid-column: full-start / full-end;
  padding: 3rem 5rem;
  /* form styles */ }
  .footer .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem; }
    @media screen and (max-width: 50rem) {
      .footer .contact__form {
        grid-column: 1 / -1; } }
    @media screen and (max-width: 50rem) {
      .footer .contact__information {
        grid-column: 1 / -1;
        grid-row: 1 / 2; } }
    .footer .contact__info {
      margin-top: 3rem; }
      .footer .contact__info__heading {
        margin-bottom: 1.3rem; }
  .footer input,
  .footer textarea {
    border: 0;
    font-family: inherit;
    font-size: 1.6rem;
    outline: none; }
  .footer textarea {
    resize: none;
    width: 100%;
    height: 15rem;
    overflow: auto;
    border: 2px solid;
    border-color: transparent transparent grey transparent; }
  .footer input[type="text"]:focus,
  .footer input[type="email"]:focus,
  .footer textarea:focus {
    outline: none; }
  .footer .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 5rem;
    grid-column-gap: 3rem;
    justify-items: start; }
    .footer .form__field {
      grid-column: 1 / -1; }
    .footer .form__input {
      border: 0;
      border-bottom: 2px solid grey;
      width: 100%;
      padding: 1.2rem; }
      .footer .form__input:focus {
        outline: 0; }
    .footer .form__label {
      color: grey;
      display: block; }
    .footer .form__field {
      width: 100%; }
    .footer .form__group {
      grid-column: span 1;
      width: 100%; }
    .footer .form__submit {
      background-color: crimson;
      padding: 1rem 2rem;
      color: #fff;
      display: block; }
  .footer .address {
    margin-top: 1rem; }
    .footer .address__title {
      font-weight: 700;
      color: #515151;
      margin-right: .5rem; }
