.about {
    &__services {
        background-image: linear-gradient(rgba($color-secondary, .6), rgba($color-secondary, .6)), url(../img//bg-2.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
        grid-column: full-start / col-end 4;
        align-content: center;
        justify-content: center;
        padding: 4rem 5rem;
        @media screen and ( max-width: $bp-medium) {
            grid-column: 1 / -1;
        }
    }
    &__story {
        padding: 4rem 5rem;
        grid-column: col-start 5 / full-end;
        align-self: center;
        @media screen and ( max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
        p:first-child:first-letter {
            color: $color-primary;
            float: left;
            font-size: 5rem;
            font-weight: 700;
            line-height: 60px;
            padding-top: .5rem;
            padding-right: 5px;
        }
        .heading-4 {
            margin-top: 3rem;
        }
    }
}

.service {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: min-content minmax(min-content, max-content);
    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $color-primary;
        display: block;
        grid-row: 1 / span 2;
    }
    p {
        font-weight: 300;
    }
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}