.team {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 10rem;
    align-items: center;
    hyphens: auto;
    justify-items: center;
    align-items: center;
    padding: 10rem 0;
    &__primary {
        grid-column: 2 / 8;
        grid-row: 1 / 2;
    }
    &__secondary {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: start;
        grid-column-gap: 5rem;
        grid-row-gap: 7rem;
        @media screen and ( max-width: $bp-med) {
            justify-items: center;
        }
    }
}

.member {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.6;
    align-items: center;
    @media screen and ( max-width: $bp-med) {
        grid-column: 1 / -1;
        // grid-template-columns: 1fr minmax(min-content, max-content);
    }
    &__name {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    &__function {
        display: block;
        color: $color-primary;
        font-weight: 700;
    }
    &__img {
        position: relative;
        height: 30rem;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -2rem;
            left: -2rem;
            border: 1rem solid #ffc117;
            height: 7.5rem;
            width: 7.5rem;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            display: block;
            position: relative;
            z-index: 2;
        }
    }
    &--main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        align-items: center;
        font-size: 1.5rem;
        grid-row-gap: 3rem;
        .member__name {
            align-self: end;
        }
        .member__img {
            position: relative;
            max-height: 35rem;
            @media screen and ( max-width: $bp-small) {
                height: 20rem;
                grid-column: 1 / -1;
                grid-row: 1 / 2;
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: -2rem;
                left: -2rem;
                border: 1rem solid #ffc117;
                height: 15rem;
                width: 15rem;
            }
            img {
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                display: block;
                position: relative;
                z-index: 2;
            }
        }
    }
}