$color-primary: #ffc117;
$color-secondary: #000000; // black
$color-grey-light-1: #fbfbfb;
$color-grey-light-2: #dbdbdf;
$color-grey-dark-1: #858585;
$color-grey-dark-2: #454545;
$font-headings: 'Roboto Condensed',
sans-serif;
$font-base: 'Source Sans Pro',
sans-serif;