.work {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    grid-row-gap: 5rem;
    justify-items: center;
    align-items: center;
    &__item {
        grid-column: 2 / span 6;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3rem;
        align-items: center;
        &__img {
            width: 100%;
            box-shadow: 0 2rem 5rem rgba($color-secondary, .1);
        }
        &__description {
            display: flex;
            flex-direction: column;
            .heading-3 {
                margin-bottom: 2rem;
            }
        }
    }
}